source https://api.nuget.org/v3/index.json
storage none

nuget Akka.FSharp
nuget RabbitMQ.Client
nuget NUnit
nuget NUnit.Runners
nuget Unquote

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
